html {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(236, 229, 236);
    padding: 2px;
}

table {
    width: 60vw;
    height: 50vh;
}

table, th, tr, td {
    border: 1px solid black;
    border-spacing: 0;
}

th {
    text-align: left;
}

td {
    text-align: right;
    padding: 3vh, 3vw;
}

td.td_center {
    text-align: center;
}

tr:nth-child(odd) { 
    background-color: #EAF2D3; 
}

body.photogallery {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 2px;
}

aside {
    width: max-content;
    float: right;
    padding: 2vh;
    text-transform: uppercase;
}

aside:hover {
    background-color: rgb(256, 256, 256);
}

aside:hover::after {
    content: attr(data-title);
    position: absolute;
    background: rgba(103, 185, 168, 0.3); 
    text-align: center;
    font-size: smaller;
}

main {
    display: flex;
    flex-direction: column;
}

a {
    color: rgb(97, 70, 97);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-size: 105%;
    font-family: 'Comic Sans MS';
}

p {
    font-size: 100%;
}

section {
    margin: 5vh 5px;
    display: flex;
    flex-direction: column;
} 

@media (max-width: 1023px) {
    section.gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

@media (min-width: 1024px) { 
    section.gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

section.gallery > img {
    display: block;
    margin: 2vh 1vw;
    object-fit: contain;
    width: 30vw;
}

dt {
    font-weight: 900;
}

dd {
    font-style: italic;
}

/* for small screens */
@media (max-width: 768px) {
    div.advertisement {
        display: none;
    }    
}

div.advertisement {
    width: 100vw;
    height: max-content;
    background-color: #e5ece5;
    font-size: 20pt;
}

div.advertisement > p {
    animation: flicker 3s infinite; 
    text-align: center;
    color: blueviolet;
}

@keyframes flicker {
    from { opacity: 1;}
    to { opacity: 0;}
}

footer {
    display: flex;
    flex-direction: column;
}

.preformatted {
    white-space: pre;
    font-size: 110%;
}

.pic {
    white-space: pre;
    font-family: monospace;
	font-size: 5px;
    width: max-content;
    background-color: white;
    letter-spacing: 1.5px;
}

section > img.image {
    /* display: block; */
    background-image: url("../images/bg.jpg");
    /* margin: 2vh 1vw;
    object-fit: contain;
    width: 30vw; */
    height: 60vh;
    width: 60vw;
    box-shadow: 0 0 10px 2px;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url("../fonts/Comic Sans MS.ttf");
}

